apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: 37.4.0
      helm:
        valueFiles:
          - $values/traefik/values.yaml
    - repoURL: https://github.com/tombulled/values
      targetRevision: feature/traefik # HEAD
      ref: values
  destination:
    name: in-cluster
    namespace: traefik
  info:
    - name: "Source"
      value: "https://github.com/traefik/traefik-helm-chart"
    - name: "Homepage"
      value: "https://traefik.io/"
    - name: "Documentation"
      value: "https://doc.traefik.io/traefik/setup/kubernetes/"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
